* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

li,
ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* ===========================  Common Css End =============================*/


/*===========================  Banner Css Start =============================*/
.header_full {
    height: 670px;
    position: relative;
}

.item_1 {
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.item_2 {
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.item_3 {
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.item_4 {
    background: url(../img/banner4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.banner_slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    background: transparent;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
}

.banner_slider .slick-dots li.slick-active button {
    background: #00e0d0;
    border: 1px solid #00e0d0;
}

.banner_slider .slick-dots li button:hover {
    background: #fff;
    border: 1px solid #fff;
}

.header_full .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(37, 22, 80, 0.85);
    text-align: center;
}

.container h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    color: #ffffff;
    position: relative;
    padding: 228px 0 50px 0;
}

.container h1::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    left: 50%;
    bottom: 22px;
    background: #00e0d0;
    transform: translateX(-50%)
}

.header_content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 135px;
}

.overlay .container a {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    margin-top: 50px;
    border: 1px solid #00e0d0;
    padding: 14px 15px;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.overlay .container a:hover {
    border: 1px solid transparent;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.header_container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_container .logo {
    z-index: 2;
}

.header_container .menu {
    z-index: 2;
}

.header_container ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_container ul li a {
    margin-left: 23px;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 80px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.header_container ul li a:hover {
    color: #00e0d0;
}

/*===========================  Banner Css End =============================*/

/*===========================  Story Css End =============================*/
.story_full {
    padding: 70px 0px;
}

.story_content {
    display: flex;
    justify-content: space-between;
}

.story_img {
    width: 400;
}

.story_writhing {
    width: 560px;
}

.story_img img {
    margin-left: 75px;
}

.story_content .story_writhing h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;
    margin-top: -7px;
}

.story_content .story_writhing p {
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-right: 57px;
    margin-top: 20px;
}

.story_writhing p span {
    display: block;
    margin-top: 25px;
}

.story_content .story_writhing a {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    margin-top: 50px;
    border: 1px solid #00e0d0;
    padding: 14px 15px;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.story_content .story_writhing a:hover {
    border: 1px solid transparent;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.story_viedo_full {
    background: url(../img/storye.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    position: relative;
    margin-top: 70px;
    z-index: 1;
}

.story_viedo_inner a i {
    line-height: 94px;
    font-size: 42px;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    padding-left: 9px;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.story_viedo_inner a:hover i {
    border: 3px solid transparent;
    color: #00e0d0;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.story_viedo_inner p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 29px;
}

.story_viedo_full .overly {
    background: rgba(37, 22, 80, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*===========================  Story Css End =============================*/

/*===========================  DEVICE Css Start =============================*/
.device_full {
    padding-bottom: 70px;
    text-align: center;
}

.device_container .head {
    position: relative;
}

.device_container .head::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    left: 50%;
    bottom: 0;
    background: #c6c4c9;
    transform: translateX(-50%);
}

.device_container .head h2 {
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}

.device_container .head p {
    color: #2f2d35;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0 15px;
}

.device_container .body {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.device_container .body .item {
    width: 32%;
    padding: 50px 0 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;

}

.device_container .item:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.device_container .body .item i {
    font-size: 50px;
    color: #09d9d0;
    display: block;
}

.device_container .body .item h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #413d4b;
    font-size: 14px;
    margin: 25px 0 20px;
    text-transform: uppercase;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;

}

.device_container .body .item h3:hover {
    color: #09d9d0;
}

.device_container .body .item p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #413d4b;
    font-size: 14px;
    line-height: 22px;
    padding: 0 25px;
}

/*===========================  DEVICE Css End =============================*/


/*===========================  Team Css Start =============================*/
.team_full {
    padding: 70px 0;
    background: url(../img/team_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.team_full .overly {
    background: rgba(37, 22, 80, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.team_content .team_head {
    position: relative;
}

.team_content .team_head::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%)
}

.team_content .team_head h2 {
    color: #fff;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.team_content .team_head p {
    color: #fff;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding: 16px 0 18px;
}

.team_content .team_body {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 0 0;
}

.team_content .member {
    width: 23%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_content .member:hover {
    border: 1px solid transparent;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.37);
}

.team_content .member .text a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_content .member .text a:hover {
    color: #09d9d0;
}

.team_content .member .text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fafafa;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 0 24px;
}

.team_footer {
    padding: 70px 0 0 0;
}

.team_container .team_body .member .img img {
    width: 100%;
}

.team_container .body .member .img {
    background: transparent;
}

.team_footer p {
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 26px;
}

.team_footer a {
    text-transform: uppercase;
    color: #00e0d0;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 14px 14px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team_footer a:hover {
    border: 1px solid transparent;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

/*===========================  Team Css End =============================*/

/*===========================  Work Css Start =============================*/
.work_full {
    margin: 70px 0;
    text-align: center;
}

.work_container .work_head {
    position: relative;
}

.work_container .work_head h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #413d4b;
}

.work_container .work_head p {
    color: #2f2d35;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0 15px;
}

.work_container .work_head::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 1px;
    background: #c6c4c9;
    transform: translateX(-50%);
}

.mix_menu {
    margin: 30px 0 50px 0;
}

.mix_menu ul li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    margin-right: 10px;
    cursor: pointer;
    color: #413d4b;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.mix_menu ul li:hover {
    border: 1px solid transparent;
    color: #00e0d0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.mix_item .item {
    width: 16.66%;
    float: left;
    overflow: hidden;
}

.mix_item .item a {
    width: 100%;
}

.mix_item .item img {
    width: 100%;
    transform: scale(1.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.mix_item .item img:hover {
    transform: scale(1)
}

.work_full .link {
    display: block;
}

.work_full .link a {
    text-transform: uppercase;
    color: #00e0d0;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 14px 14px;
    margin-top: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.work_full .link a:hover {
    border: 1px solid transparent;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

/*===========================  Work Css End =============================*/
/*===========================  TextSliderCss Start =============================*/
.ts_full {
    background: url(../img/team_deaties.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    position: relative;
    z-index: 1;
}

.ts_container {
    text-align: center;
}

.text_slider {
    position: relative;
}

.text_slider .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%)
}

.text_slider .slick-dots li button {
    font-size: 0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #fff;
    border: 6px solid #fff;
    margin: 0px 10px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.text_slider .slick-dots li button:hover {
    background: #ffff;
    border: 6px solid #00e0d0;
}

.text_slider .slick-dots li.slick-active button {
    background: #00e0d0;
}

.text_slider .item i {
    color: #ffff;
    font-size: 30px;
    margin: 50px;
}

.text_slider .item p {
    font-family: 'PlayfairDisplay-Regular', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding: 0 110px;
}

.text_slider .item h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 14px;
    color: #fff;
    margin-top: 33px;
}

.text_slider .item h4 {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 13px;
    color: #fff;
    margin-top: 5px;
}

.ts_full .overly {
    background: rgba(37, 22, 80, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/*===========================  TextSliderCss End =============================*/
/*===========================  News Css End =============================*/
.news_full {
    margin: 70px 0;
}

.news_container {
    display: flex;
}

.news_container .item1 {
    width: 50%;
    margin-right: 95px;
}

.news_container .item1 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.news_container .item1  input {
    display: block;
    width: 100%;
    margin-bottom: 21px;
    padding: 17px 20px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.news_container .item1 form textarea {
    display: block;
    width: 100%;
    margin-bottom: 21px;
    padding: 17px 20px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    resize: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.news_container .item1 form input , textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.news_container .item1 form textarea:focus,
.news_container .item1 form input:focus {
    border: 1px solid #00e0d0;
        color: #00e0d0;
}
.news_container .item1 button{
    text-transform: uppercase;
    color: #00e0d0;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    border: 1px solid #00e0d0;
    padding: 14px 14px;
    transition: all linear .3s;
    background: transparent;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.news_container .item1 button:hover {Back to top
     border: 1px solid transparent;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
.news_container .item2 {
    width: 50%;
}
.news_container .item2 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.news_container .item2 .body {
    display: flex;
    flex-wrap: wrap;
}
.news_container .item2 .body .img {
    width: 50%;
    margin-bottom: 50px;
}
/*===========================  News Css End =============================*/
/*===========================  Footer Css Start =============================*/
.footer_full {
    background: url(../img/footer.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 70px 0;
    position: relative;
    z-index: 1;
}

.footer_container .body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

.footer_container .body .item {
    width: 30%;
}

.footer_container .body .item h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 50px;
}

.footer_container .body .item .text {
    padding: 20px 0;
}

.footer_text p {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    padding-right: 30px;
}

.footer_location p {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    padding-right: 30px;
}

.footer_location p span {
    display: block;
    padding-left: 23px;
}

.footer_location p i {
    margin-right: 10px;
}

.newsletter {
    height: 45px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

.newsletter input {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    line-height: 45px;
    padding: 0 25px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.newsletter input::placeholder {
    color: #fff;
}

.newsletter input:focus {
    border: 1px solid #00e0d0;
}

.newsletter button {
    background: transparent;
    border: 0;
}

.newsletter button i {
    margin-left: 10px;
    font-size: 30px;
    line-height: 43px;
    padding: 0 20px;
    color: #000;
    background: #fff;
    border: 1px solid #fff;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.newsletter button i:hover {
    border: 1px solid transparent;
    background: #00e0d0;
    color: #fff;
    -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.footer_social_link ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.footer_social_link ul li a i {
    font-size: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    margin: 27px 8px 0 0;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_social_link ul li a i:hover {
    border: 1px solid transparent;
    color: #00e0d0;
    -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.footer_full .overly {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(27, 16, 68, 0.85);
    z-index: -1;
}

.copyright {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
    margin-top: 45px;
}

.copyright ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.copyright ul li a {
    font-family: 'Roboto-Regular', sans-serif;
    margin-right: 30px;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.copyright ul li a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #fff;

    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.copyright ul li a:hover::after {
    width: 100%;
}

.copyright p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #fff;
}

/*===========================  Footer Css End =============================*/



/*===========================  Back to top Start =============================*/
.btp{
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: rgba(24, 14, 64, 0.63);
    color: #fff;
    z-index: 1;
    border-radius: 20px 0px 20px 0px;
    display: none;
    cursor: pointer;
}


/*===========================  Back to top End =============================*/